################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/garage/FileContentIndex/08ae7fb2-b796-462d-b746-d0ea11d3fc9f.vsidx
